
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script type="text/javascript">
        setTimeout(function () {
            window.location.href = "/Login/Login";
        }, 3000);
    </script>
</head>
<body>
    <div> 
        请先登录,即将帮你跳转至登陆页面
    </div>
</body>
</html>
