
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>tjSelect</title>
    <link href="~/css/table.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/vue.js"></script>
</head>
<body>
    <div id="divsss">
        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是:人力资源管理--薪酬标准管理--薪酬标准登记查询</font>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    符合条件的薪酬标准总数: 3 例
                </td>
            </tr>
        </table>

        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td width="15%" class="TD_STYLE1">
                    <span>薪酬标准编号</span>
                </td>
                <td width="20%" class="TD_STYLE1">
                    <span>薪酬标准名称</span>
                </td>
                <td width="15%" class="TD_STYLE1">
                    <span>制定人</span>
                </td>
                <td width="30%" class="TD_STYLE1">
                    <span>登记时间</span>
                </td>
                <td class="TD_STYLE1" width="15%">
                    薪酬总额
                </td>
            </tr>


            <tr class="TD_STYLE2" v-for="(item,i) in rows">
                <td>
                    <a href="salarystandard_query.html">{{item.standard_id }}</a>
                </td>
                <td>
                  {{item.standard_name }}

                </td>
                <td>
                   {{item.designer }}

                </td>
                <td>
                   {{item.regist_time }}
                </td>
                <td>
                    &nbsp;
                  {{item.salary_sum }}
                </td>
            </tr>




        </table>


        <html>
        <head>
        </head>
        <body>
            <p>
                <div align="center" style="font-size: 18px;color: gray">
                    &nbsp;&nbsp;总数：
                    <font style="color: maroon;font-weight: bold;">@ViewData["rows"]</font>
                    例
                    &nbsp;&nbsp;&nbsp;
                    每页显示 <font style="color: maroon;font-weight: bold;">2</font>
                    条
                    &nbsp;&nbsp;&nbsp;
                    当前第 <font style="color: maroon;font-weight: bold;" id="dq"></font>
                    页
                    &nbsp;&nbsp;&nbsp;共
                    <font style="color: maroon;font-weight: bold;">@ViewData["Pagescx"]</font>
                    页
                    <a style="color: navy;font-weight: bold" href="javascript:doPage(1)" id="first">首页</a>

                    <a style="color: navy;font-weight: bold"
                       href="javascript:doPage(0)" id="prev">上一页</a>

                    <a style="color: navy;font-weight: bold"
                       href="javascript:doPage(2)" id="next">下一页</a>

                    <a style="color: navy;font-weight: bold"
                       href="javascript:doPage(2)" id="last">末页</a>
                    &nbsp;&nbsp;&nbsp;跳到第
                    <input id="wb" type=text value="1" class=input1 size=1>
                    页&nbsp;&nbsp;
                    <input type="image" onclick="dopagebybutton()" src="../../images/go.bmp" width=18 height=18 border=0 id="tz">
                    <input type="hidden" name="page.startPage" id="startpage" value="1">
                </div>



        </body>
    </html>
</div>
    <script type="text/javascript">
        var currentPage = 1;//当前页
       var pages=@ViewData["Pagescx"];
        var vm = new Vue({
            el: "#divsss",
            data: {
                rows: null
            },
            methods: {
                load: function () {
                  
                    var v = this;
                    $.ajax({
                        url: "../salary_standard/Fenyecx",
                        type: "post",
                        data: "bh=" + localStorage.getItem("bh") + "&&gjz=" + localStorage.getItem("gjz") + "&&currentPage="+currentPage+"&&sjq="+localStorage.getItem("sjq")+"&&sjh="+localStorage.getItem("sjh"),
                        success: function (msg) {
                            var data = eval("(" + msg + ")");
                            v.rows = data;
                            $("#dq").text(currentPage);
                        }
                    });
                }
            }
        })
        vm.load();
        $("#first").click(function () {
            currentPage = 1;
            vm.load();
        })
        $("#tz").click(function () {
            var zhi = $("#wb").val();
            if (zhi > pages) {
                alert("不能大于总页数!");
            } else {
                currentPage = zhi;
                vm.load();
            }
        })
        $("#prev").click(function () {
            if (currentPage > 1) {
                currentPage--;
            } else {
                currentPage = 1;
            }
            vm.load();
        })
        $("#next").click(function () {
            if (currentPage < pages) {
                currentPage++;
            } else {
                currentPage = pages;
            }
            vm.load();
        })
        $("#last").click(function () {
            currentPage = pages;
            vm.load();
        });
    </script>

</body>
    </html>
