<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <unity>
    <containers>
      <container name="containerOne">
        <register type="IBLL.Iconfig_file_first_kindBLL,IBLL" mapTo="BLL.config_file_first_kindBLL,BLL" name="config_file_first_kindBLL"></register>
        <register type="IBLL.Iconfig_major_kindBLL,IBLL" mapTo="BLL.config_major_kindBLL,BLL" name="config_major_kindBLL"></register>
        <register type="IBLL.IusersBLL,IBLL" mapTo="BLL.usersBLL,BLL" name="usersBLL"></register>
        <register type="IBLL.Imajor_changeBLL,IBLL" mapTo="BLL.major_changeBLL,BLL" name="major_changeBLL"></register>
        <register type="IBLL.Iconfig_majorBLL,IBLL" mapTo="BLL.config_majorBLL,BLL" name="config_majorBLL"></register>
        <register type="IBLL.Iconfig_public_charBLL,IBLL" mapTo="BLL.config_public_charBLL,BLL" name="config_public_charBLL"></register>
        <register type="IBLL.IRoleBLL,IBLL" mapTo="BLL.RoleBLL,BLL" name="RoleBLL"></register>
      </container>
    </containers>
  </unity>
</configuration>
