<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <container name="containerOne">
        <register type="IDAL.config_file_second_kindIDAL,IDAL" mapTo="DAL.config_file_second_kindDAL,DAL" name="config_file_second_kindDAL"></register>
        <register type="IDAL.config_public_charIDAL,IDAL" mapTo="DAL.config_public_charDAL,DAL" name="config_public_charDAL"></register>
      </container>
      <container name="containerTwo">
        <register type="IBLL.config_file_second_kindIBLL,IBLL" mapTo="BLL.config_file_second_kindBLL,BLL" name="config_file_second_kindBLL"></register>
        <register type="IBLL.config_public_charIBLL,IBLL" mapTo="BLL.config_public_charBLL,BLL" name="config_public_charBLL"></register>
      </container>
    </containers>
  </unity>
</configuration>
