
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SCIndex1</title>
    <link href="~/css/table.css" rel="stylesheet" />
    <link href="~/css/cwcalendar.css" rel="stylesheet" />
    <script src="~/Scripts/comm/comm.js"></script>
    <script src="~/Scripts/winopen/winopenm.js"></script>
    <script src="~/Scripts/calendar-ch.js"></script>
    <script src="~/Scripts/jquery-1.7.2.js"></script>
    <script src="~/Scripts/jquery.messager.js"></script>
    <script src="~/Scripts/time.js"></script>
    <script src="~/Scripts/human_check.js"></script>
    <script src="~/Scripts/human_input_check.js"></script>
    <script src="~/Scripts/DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/vue.js"></script>
</head>
<body>
    <div id="Vue">
        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是：人力资源--人力资源档案管理--人力资源档案查询 </font>
                </td>
            </tr>
            <tr>
                <td>
                    符合条件的人力资源档案总数：{{row}}例
                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=5 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr class="TR_STYLE1">
                <td width="16%" class="TD_STYLE1">
                    档案编号
                </td>
                <td width="13%" class="TD_STYLE1">
                    姓名
                </td>
                <td width="8%" class="TD_STYLE1">
                    性别
                </td>
                <td width="14%" class="TD_STYLE1">
                    I级机构
                </td>
                <td width="14%" class="TD_STYLE1">
                    II级机构
                </td>
                <td width="14%" class="TD_STYLE1">
                    III级机构
                </td>
                <td width="14%" class="TD_STYLE1">
                    职位分类
                </td>
                <td width="7%" class="TD_STYLE1">
                    职位名称
                </td>
            </tr>

            <tr class="TR_STYLE2" v-for="(item,i) in dt">
                <td width="16%" class="TD_STYLE2">
                    <a v-bind:href="['/human_file/SCSelect1/'+item.Id]">{{item.human_id}}</a>
                </td>
                <td width="13%" class="TD_STYLE2">
                    {{item.human_name}}
                </td>
                <td width="8%" class="TD_STYLE2">
                    {{item.human_sex}}
                </td>
                <td width="14%" class="TD_STYLE2">
                    {{item.first_kind_name}}
                </td>
                <td width="14%" class="TD_STYLE2">
                    {{item.second_kind_name}}
                </td>
                <td width="14%" class="TD_STYLE2">
                    {{item.third_kind_name}}
                </td>
                <td width="14%" class="TD_STYLE2">
                    {{item.human_major_kind_name}}
                </td>
                <td width="7%" class="TD_STYLE2">
                    {{item.hunma_major_name}}
                </td>
            </tr>
        </table>
        <p>
            &nbsp;&nbsp;&nbsp;当前第{{pageNo}} 页 /每页显示 5 条 &nbsp;&nbsp;&nbsp;共 {{pagesCount}} 页 &nbsp;&nbsp;&nbsp;
            <a v-on:click="SYY">上一页</a> &nbsp;&nbsp;&nbsp;
            <a v-on:click="XYY">下一页</a> &nbsp;&nbsp;&nbsp;跳到第 <input name=page type=text class=input1 id="currPage" size=1> 页&nbsp;&nbsp;<input type="image" src="../../../images/go.bmp" v-on:click="go" width=18 height=18 border=0>
        </p>
    </div>
    <script type="text/javascript">
        var dqy = 1;
        var vm = new Vue({
            el: "#Vue",
            data: {
                dt: null,
                pageNo: null,
                row: null,
                pagesCount: null
            },
            methods: {
                load: function () {
                    var t = this;
                    $.ajax({
                        url: "/human_file/SCIndex1",
                        type: "post",
                        data: "dqy=" + dqy,
                        success: function (msg) {
                            var dd = eval("(" + msg + ")");
                            t.dt = dd.dt;
                            t.row = dd.rows;
                            t.pagesCount = dd.pages;
                            t.pageNo = dqy;
                        }
                    });
                },
                SYY: function () {
                    if (dqy > 1) {
                        dqy--;
                    } else {
                        dqy = 1;
                    }
                    this.load();
                },
                XYY: function () {
                    if (dqy < this.pagesCount) {
                        dqy++;
                    } else {
                        dqy = this.pagesCount;
                    }
                    this.load();
                },
                go: function () {
                    dqy = $("#currPage").val();
                    if (pagesCount >= dqy) {
                        this.load();
                        $("#currPage").val("");
                    } else {
                        alert("没有那么多页!");
                        $("#currPage").val("");
                    }
                }

            },
            created: function () {
                this.load();
            }
        });
    </script>
</body>
</html>
